body{
	background: #e8c5c5;
	margin-left: 250px;
	margin-right: 250px;
}
h1{
	color: red;
	font-family: fantasy;
}
h2{
		font-family: fantasy;

}
p{
	font-size: 18px/
}
header{
	margin-top: 70px;
}
img{
	margin-bottom: 20px;
}